.body__header-tittle{
    font-size: 2.4rem;
    font-weight:900
}

.body__header-notify--link {
    text-decoration: none;
    background: #44B81B;
    color: #fff;
    font-weight: 600;
    padding: 10px 10px;
    border-radius: 5px;
}

.body__header{
    display:flex;
    justify-content:space-between
}

.body__details--img{
    height:430px;
    width:410px
}

.body__details-img{
    width:410px
}

.body__details-img--imgDetails {
    height: 66px;
    width: 66px;
    border-radius: 5px;
}

.wrapper__img{
    background:#fff;
    height:70px;
    width:70px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:5px;
    cursor:pointer
}

.body__details-imgDetails {
    display:flex;
    justify-content:space-around;
    justify-items:center
}

.body__details-imgDetails {
    background: #CCCCCC;
    padding:5px;
    border-radius:3px;
    margin-top:10px
}

.body__details{
    display:flex;
    align-items:start;
    justify-content:space-between;
    margin-top: 30px
}

.body__details-price {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:550px;
    background:#f3f3f3;
    padding:20px 0;
    border-radius:10px
}

.details-price__tittle{
    color:#333;
}

.details-price__currency {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #E50000;
}

.details-price__discount {
    font-weight: 300;
    color:#777
}

.body__details-products {
    padding: 20px 30px;
    border: solid 1px #EB67CB;
    border-radius:10px;
    margin-top:20px
}

.body__details-products--tittle {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    background: linear-gradient(95.18deg,#EB67CB 43.94%,#6285F0 91.72%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: max-content;
}

.body__details-products--content{
    font-size:1.4rem;
    color:#333;
    line-height:30px
}

.products--content {
}