* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

main {
    margin-top: 177px;
}

.header {
    width: 100%;
}

.header__logo--img {
    height: 30px;
    width: auto;
}

.header-top {
    background: #424244;
    padding: 20px 0;
}

.header__main {
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}

.wrapIcon {
    display: flex;
}

.wrapIcon {
    text-decoration: none;
}

.wrapIcon--wh {
    list-style: none;
}

.wrapIcon--wh a {
    color: #fff;
}

.wrapIcon--wh:hover .notify {
    display: block;
    transform-origin: calc(100% - 40px) top;
    animation: growth ease-in 0.2s;
}

@keyframes growth {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.wrapIcon--wh-notify {
    position: relative;
}

.wrapIcon--wh-notify::after {
    content: "3";
    height: 17px;
    width: 17px;
    background: red;
    position: absolute;
    border-radius: 50%;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    top: calc(0% - 10px);
    right: calc(0% - 10px);
}

.form__row--input {
    width: 475px;
    padding: 10px 35px;
    border-radius: 30px;
    font-size: 1.6rem;
    background: #c0c0c0;
    border: none;
    color: #333;
    outline: none !important;
    box-shadow: 0 0 20px transparent;
}

.form {
    position: relative;
}

.form__row--search-ico {
    background: none;
    border: none;
    outline: none;
    position: absolute;
    font-size: 1.6rem;
    color: #cf2e2e;
    top: calc(50% - 8px);
    right: 15px;
    cursor: pointer;
}

.header__orderCheck--txt:hover {
    background: #8d8b8b;
    transition: 0.6s;
}

.header__orderCheck--txt {
    text-decoration: none;
    font-weight: 500;
    color: #333;
    padding: 10px 15px;
    background: #c0c0c0;
    border-radius: 30px;
}

.wrapIcon--wh {
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
}

.wrapIcon--wh+.wrapIcon--wh {
    margin-left: 20px;
}

.header-bottom {
    background: #000000;
    width: 100%;
}

.header__nav {
    width: 80%;
    margin: 0 auto;
}

.header__nav-menu {
    list-style: none;
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    padding: 10px 0;
}

.angle {
    font-size: 1.2rem;
}

.header__nav-menu--item-cl {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

.header__nav-menu--item {
    padding: 20px 23px;
    position: relative;
    cursor: pointer;
}

.nav__menu-item--sp {
    position: absolute;
    background: #000;
    top: calc(100% + 10px);
    width: 200px;
    list-style: none;
    left: 0;
    display: none;
}

.header__nav-menu--item:hover .nav__menu-item--sp {
    display: block;
    transform-origin: top;
    animation: notifyGrowth ease-in 0.3s;
}

@keyframes notifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__nav-menu--item:hover .header__nav-menu--item-cl {
    color: #cf2e2e;
    transition: 0.3s;
}

.nav__menu-item--sp::after {
    content: "";
    width: 153px;
    height: 35px;
    position: absolute;
    bottom: calc(100% - 3px);
}

.nav__menu-item {
    text-indent: 15px;
    padding: 10px 15px 10px 10px;
    cursor: pointer;
}

.nav__menu-item:hover>a {
    color: #cf2e2e;
}

.nav__menu-item--cl {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 25px;
}

.nav__menu-item--cl-angle::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    position: absolute;
    font-size: 8px;
    right: 15px;
}

/*sub menu c2*/

.sub__menu {
    list-style: none;
    background: #000;
    position: absolute;
    width: 200px;
    right: -100%;
    top: 0;
    display: none;
}

.sub__menu--sp1-link {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    line-height: 25px;
}

.sub__menu--sp1 {
    text-indent: 15px;
    padding: 10px 15px 10px 10px;
    cursor: pointer;
}

.sub__menu--sp1:hover>a {
    color: #cf2e2e;
}

.nav__menu-item:hover .sub__menu {
    display: block;
    transform-origin: 0 top;
    animation: notifyGrowth ease-in 0.3s;
}

/*sp2*/
.sub__menu-sp2 {
    top: calc(0% + 45px);
}

/*sp3*/
.sub__menu-sp3 {
    top: calc(0% + 135px);
}

/*sp4*/
.sub__menu-sp4 {
    top: calc(0% + 180px);
}

/*sp5*/
.sub__menu-sp5 {
    top: calc(0% + 225px);
}

/*boydy*/

main {
    width: 100%;
}

.body {
    width: 75%;
    margin: 0 auto;
}

.body__banner-main {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.banner__main--img {
    width: 1110px;
    height: 345px;
    border-radius: 10px;
    cursor: pointer;
}

.body__banner-slideShow--img {
    width: 530px;
    border-radius: 10px;
    cursor: pointer;
}

.body__banner-slideShow {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.body__banner-slideShow--img:nth-child(3),
.body__banner-slideShow--img:nth-child(4) {
    margin-top: 15px;
}

.products__tittle {
    margin: 100px 0 60px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #d7202c;
    padding: 12px 0;
}

.products__tittle--line {
    width: 400px;
    height: 1px;
    background: #ebebeb;
}

.products__tittle--bs {
    color: #fff;
    font-size: 1.9rem;
    font-weight: 500;
}

.wardrobe__order {
    width: 31%;
}

.wardrobe__order-link {
    text-decoration: none;
    color: #333;
}

.order__pad {
    padding: 3%;
}

.wardrobe__order--img-main {
    width: 100%;
    height: 251px;
}

.wardrobe__order--content {
    padding: 20px 0;
    font-weight: 500;
    height: 70px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.wardrobe__order--pay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.wardrobe__order--price {
    color: #fff;
    background: #e40000;
    width: 100px;
    height: 30px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.wardrobe__order--discount {
    color: #999;
    font-size: 1.2rem;
    margin-right: 30%;
}

.wardrobe__order-add {
    font-size: 1.8rem;
    background: #e0e0e0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wardrobe__order-add:hover {
    background: #e40000;
    color: #fff;
    transition: 0.5s;
}

/**/
.wardrobe__order--detail {
    height: 107px;
    width: 100%;
    background: #f5f5f5;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wardrobe__order--detail--img {
    height: 25px;
    width: 25px;
    margin-right: 5px;
}

.wardrobe__order--detail--content {
    font-size: 1.3rem;
    color: #888;
}

.wardrobe__order--detail-ali {
    display: flex;
    align-items: center;
    width: 50%;
}

.wardrobe__order--detail-ali:nth-child(2n + 1),
.wardrobe__order--detail-ali:nth-child(2n) {
    padding-left: 15px;
}

.wardrobe__order:hover {
    box-shadow: 0px 0px 13px 0px rgb(0 0 0 / 30%);
    transition: 0.5s;
}

.products-wardrobe__order {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*footer*/
.footer {
    background: #000;
    color: #fff;
    margin-top: 122px;
}

.footer__top {
    width: 75%;
    margin: 0 auto;
    padding: 40px 0;
}

.footer__info-hotline {
    padding: 0 0 22px 0;
}

.footer__info--tittle {
    color: #d1d1d1;
}

.footer__info-hotline--pnb {
    color: #e30000;
    font-weight: bold;
    font-size: 1.4rem;
}

.footer__info-hotline--cl {
    cursor: pointer;
}

.footer__info-hotline--cl:hover {
    color: #fff;
    transition: 0.5s;
}

.footer__info-email {
    padding: 0 0 15px 0;
}

.footer__info--cl-link {
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    line-height: 25px;
}

.footer__info--cl-link-hover:hover {
    color: #e30000;
    transition: 0.5s;
}

.footer__top {
    display: flex;
    justify-content: space-between;
}

.footer__info-header {
    padding: 22px 0;
}

.footer__address--info {
    cursor: pointer;
}

.footer__address--info:hover h3 {
    color: #e30000;
    transition: 0.5s;
}

.fa-solid.fa-location-dot {
    color: #e30000;
}

.footer__address--info+.footer__address--info {
    margin-top: 17px;
}

.footer__info-add--detail {
    margin-top: 7px;
    width: 90%;
}

.form__row--regInfo {
    background: #fff;
    border: 1px solid #e1e1e1;
    padding: 0 15px;
    font-weight: 400;
    font-size: 1.5rem;
    color: #000;
    height: 40px;
    outline: none;
    position: relative;
}

.form__row--submit {
    background: #e50000;
    font-weight: 700;
    font-size: 1.4rem;
    color: #fff;
    height: 40px;
    outline: none !important;
    border: 1px solid #e50000;
    padding: 0 12px;
    position: absolute;
    cursor: pointer;
}

.form__row--submit:hover {
    background: #fff;
    border: 1px solid #e50000;
    color: #e50000;
    transition: 0.7s;
}

.footer__pay {
    display: flex;
    flex-wrap: wrap;
    width: 148px;
    justify-content: space-between;
}

.footer__pay--img {
    padding-bottom: 5px;
}

.footer__link-items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__link-items--cl {
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
    width: 50%;
    padding-bottom: 15px;
}

.footer__info,
.footer__address,
.footer__reg {
    flex: 2;
}

.footer__link {
    flex: 1.3;
}

.footer__link-items--cl-w {
    width: 100%;
}

.footer__link-items--cl-w+.footer__link-items--cl-w {
    padding-top: 7px;
}

.footer__link-items--cl:hover {
    color: #e50000;
    transition: 0.5s;
}

.footer__address--info+.footer__address--info {
    padding-top: 10px;
}

/*confirm*/
.confirm {
    width: 75%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}

.confirm__img {
    height: 40px;
}

.confirm__img:last-child {
    height: 25px;
}

.confirm__img+.confirm__img {
    margin-left: 20px;
}

/*footer__bottom*/

.footer__bottom {
    width: 75%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-top: 1px solid rgb(247 247 247 / 50%);
}

.footer__bottom-content {
    font-size: 1.2rem;
    color: rgb(247 247 247 / 50%);
    line-height: normal;
}

.footer__bottom--ico-link {
    display: flex;
    height: 30px;
    width: 30px;
    background: #dadada;
    border-radius: 50%;
    text-decoration: none;
    color: #000;
    align-items: center;
    justify-content: center;
}

.footer__bottom--ico-link+.footer__bottom--ico-link {
    margin-left: 15px;
}

.footer__bottom--ico-link:hover {
    background: #e50000;
    color: #fff;
    transition: 0.5s;
}

.footer__bottom--ico {
    display: flex;
}

.wrapIcon--wh {
    position: relative;
}

.notify {
    position: absolute;
    background: #fff;
    width: 420px;
    right: calc(0% - 35px);
    border-radius: 3px;
    z-index: 1000;
    top: calc(0% + 40px);
    display: none;
}

.notify::after {
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    position: absolute;
    border-color: transparent transparent #fff transparent;
    top: calc(0% - 33px);
    right: calc(0% + 16px);
}

.notify::before {
    content: "";
    height: 26px;
    width: 63px;
    position: absolute;
    right: calc(0% + 16px);
    top: calc(0% - 20px);
}

.notify__content--img img {
    height: 70px;
}

.notify__header {
    padding: 20px 0 20px 20px;
    font-size: 1.5rem;
    font-weight: 400;
    color: #888;
    cursor: auto;
}

.notify__content-detail {
    margin-left: 20px;
}

.notify__content--tittle {
    color: #333;
    font-size: 1.4rem;
    line-height: 20px;
    height: 45px;
}

.notify__content--para {
    color: #888;
    font-size: 1.3rem;
    line-height: 20px;
}

.notify__content {
    display: flex;
    padding: 10px;
    background: #fef1ee;
}

.notify__content:hover {
    background: #f7f7f7;
    transition: 0.3s;
}

.notify__content-link {
    text-decoration: none;
}

.notify__content--read {
    background: #fff;
}

.notify__footer {
    color: #333;
    text-align: center;
    padding: 15px 0;
    font-size: 1.4rem;
    font-weight: 400;
}

/*footer other*/
.other__backToTop {
    background: linear-gradient(95.18deg, #eb67cb 43.94%, #6285f0 91.72%);
    position: fixed;
    bottom: 50px;
    left: 30px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.9rem;
    text-decoration: none;
}

.other__media--link {
    color: #fff;
    text-decoration: none;
    font-size: 3rem;
}


.other__media--link-img {
    width: 45px;
}

.other__media--ali+.other__media--ali {
    margin-top: 20px;
}

.other__media--ali {
    background: #2962ff;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.other__media--call{
    background-color: #44B81B;
}

.other__media {
    position: fixed;
    bottom: 50px;
    right: 30px;
}

.other__media--ali{
    position: relative;
    cursor: pointer;
}

.other__media--ali:hover::after{
    visibility:visible;
    animation: hidden 0.3s ease-in;
}

@keyframes hidden {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.other__media--ali::after{
    color: #fff;
    background: #D43B3C;
    height: 32px;
    font-size: 1.4rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    right: calc(0% + 65px);
    box-shadow: 0px 3px 6px 2px rgba(0,0,0,0.3);
    visibility: hidden;
}

.other__media--zalo::after{
    content: "Contact Via zalo";
    width: 132px;
}

.other__media--call::after{
    content: "Call Now";
    width: 90px;
}

.other__media--mess::after{
    content: "Message Now";
    width: 120px;
}
